## 3. Collaborative Filtering(협업 필터링: 사용자 리뷰 기반)

In [1]:
import surprise

In [2]:
surprise.__version__

'1.1.3'

In [3]:
import pandas as pd
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [5]:
ratings = pd.read_csv('../data/ratings_small.csv/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
reader = Reader(rating_scale=(0.5,5))

In [9]:
data = Dataset.load_from_df(ratings[['userId','movieId','rating']], reader=reader)
data

In [10]:
svd = SVD(random_state=0)

In [12]:
cross_validate(svd,data,measures=['RMSE','MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8939  0.8950  0.8966  0.9002  0.8970  0.8965  0.0021
MAE (testset)     0.6879  0.6895  0.6902  0.6963  0.6921  0.6912  0.0029
Fit time          1.50    1.47    1.49    1.57    1.65    1.53    0.07
Test time         0.14    0.16    0.15    0.14    0.14    0.15    0.01

{'test_rmse': array([0.89392436, 0.89499895, 0.89657696, 0.90019947, 0.89698628]),
 'test_mae': array([0.68788125, 0.68947282, 0.69019371, 0.69627069, 0.69211049]),
 'fit_time': (1.4985570907592773,
  1.467076063156128,
  1.489006519317627,
  1.569805383682251,
  1.6453022956848145),
 'test_time': (0.14478063583374023,
  0.1576251983642578,
  0.15381073951721191,
  0.14358162879943848,
  0.13761281967163086)}

In [13]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [14]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [15]:
svd.predict(1,302)

Prediction(uid=1, iid=302, r_ui=None, est=2.7142061734434044, details={'was_impossible': False})

In [16]:
svd.predict(1,1029,3)  # UserId = 1 번인 사람이 MovieId = 1029인 영화에 대해서 실제 평가 3점일 때, 예측 평가 점수?

Prediction(uid=1, iid=1029, r_ui=3, est=2.8814455446761933, details={'was_impossible': False})

In [17]:
svd.predict(100,1029)

Prediction(uid=100, iid=1029, r_ui=None, est=3.7705476478414846, details={'was_impossible': False})